@import '../vars';

.container {
  position: relative;

  &:hover .admin {
    color: black;
  }

  &:hover .options {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, 0);
  }
}

.admin {
  padding: 0.8rem;
  transition: 150ms;
}

.options {
  position: absolute;
  top: 100%;
  left: 50%;
  background: white;
  box-shadow: 2px 2px 5px rgba(black, 0.2);
  border-radius: 0.4rem;
  width: max-content;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, 5%);
  transition: 150ms;
  display: flex;
  flex-direction: column;
  color: black;

  .option {
    transition: 150ms;
    cursor: pointer;
    padding: 1em;

    .icon {
      padding-right: 0.3rem;
    }

    &:hover {
      color: $color-main;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(black, 0.1);
    }
  }
}
