@import '../vars';

.nav {
  top: 0;
  background-color: white;
  z-index: 2;
  padding: 0.2em 1em;
  box-shadow: 0 0 4px rgba(black, 0.2);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
  transform: translateY(-1px);

  &.reduced ul {
    margin: 0.2em;
  }
}

.nav ul {
  display: flex;
  gap: 1em;
  grid-column: 2;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  transition: margin 200ms;
}

.nav li {
  list-style: none;
  transition: 150ms;
  text-align: center;

  a {
    padding: 0.4em 0.6em;
  }

  &:hover {
    color: $color-main;
  }

  &.active {
    background-color: $color-main;
    color: white;
    font-weight: 600;
    border-radius: 100em;
  }
}

@media (min-width: 760px) {
  .nav {
    position: sticky;
  }
}
