@import '../vars';

.container {
  background-color: white;
  position: relative;
  z-index: 1;
  flex: 1;
}

.main {
  padding: 2em 1em;
  margin: auto;

  a,
  strong {
    color: $color-main;
    font-weight: 500;
  }

  a {
    background: $color-main-transparent;
    padding: 0.2em 0.4em;
    border-radius: 0.4em;
    transition: all 150ms;
    outline: none;
    text-align: center;

    &:hover,
    &:active,
    &:focus {
      background: $color-main;
      color: white;
    }
  }

  h2 {
    font-size: 2em;
  }
}
