.nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  padding: 0.4em 1em;
  box-shadow: 0 0 4px rgba(black, 0.3);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
}

.nav ul {
  display: flex;
  gap: 1em;
  grid-column: 2;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.nav li {
  list-style: none;
  transition: 150ms;
  padding: 0.2em 0.6em;
  text-align: center;

  &:hover {
    color: red;
  }

  &.active {
    background-color: red;
    color: white;
    font-weight: 600;
    border-radius: 100em;
  }
}
