.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper table {
  border-collapse: collapse;
  margin: 1em 0;
  text-align: center;
  border-radius: 1em;
  overflow: hidden;
  width: 100%;

  tbody:nth-child(odd) {
    background: rgba(black, 0.05);
  }

  td {
    padding: 0.5em;
  }
}

@media (max-width: 480px) {
  .wrapper table {
    width: 100%;
  }
}
