@import '../../vars';

.btn {
  background: $color-main;
  color: white;
  padding: 0.6em 1.2em;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 10em;
  transition: 150ms;
  font-family: $fonts;

  &:hover {
    background: $color-main-darker;
  }

  &:focus {
    box-shadow: 0 0 0 0.3em $color-main-transparent;
  }

  &:focus-visible {
    box-shadow: 0 0 0 0.15em black;
  }
}
