.btn {
  background: red;
  color: white;
  padding: .6em 1.2em;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 10em;
  transition: 150ms;

  &:hover {
    background: darken(red, 10%);
  }

  &:focus-visible {
    box-shadow: 0 0 0 .3em rgba(red, .2);
  }
}