@import '../../vars.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: .4em;
}

.container small {
  opacity: .7;
}

.input {
  padding: .8em 1em;
  border-radius: .4em;
  border: 1px solid rgba(black, .1);
  transition: 100ms;
  outline: none;
  font-family: $fonts;
  font-size: .9em;
  
  &::placeholder {
    opacity: .8;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: black;
  }
}

.required::after {
  content: '*';
  color: red;
  margin-left: .2em;
}