.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.title {
  margin: 0;
}

.link {
  background: red;
  color: white;
  padding: 0.4em 0.8em;
  border-radius: 10em;
  font-weight: 600;
  transition: 150ms;
  outline: none;

  &:hover,
  &:active {
    background: rgb(210, 0, 0);
  }

  &:focus-visible {
    box-shadow: 0 0 0 0.3em rgba(red, 0.2);
  }
}
