.mainTitle {
  padding-bottom: .5em;
  margin-bottom: 1em;
  border-bottom: .2em solid rgb(245, 245, 245);
}

.article {
  padding-bottom: 1.2em;
  
  &:not(:first-of-type) {
    padding-top: 1em;
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgba(black, .1);
  }
}