.container {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr auto;
  gap: 5rem;
}

.articles,
.right {
  display: grid;
  grid-auto-flow: row;
  gap: 1.5rem;
}

.right {
  max-width: 25em;
}

.networks {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

@media (max-width: 1080px) {
  .container {
    margin: auto;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    max-width: 40rem;
    gap: 1.5rem;
  }

  .right {
    max-width: unset;
  }
}
